# Instructions

Your submission will be tested with the code tester. It is important to follow these instructions to ensure your work tests properly.

- Do not change the content of the cells under __SETUP__ and __TESTS__
- Work only in the __YOUR WORK__ area
- Rename the notebook with your group at the end (subsitute XX with your group number).
- Assign the results of each numbered question to the appropriate test variable. For example, the answer of `1.` should be assigned to `test_1`
- Rounding: use the supplied function `hround` to round decimal numbers when instructed. It's important to use this function because there are [multiple ways to round numbers in Python](https://www.knowledgehut.com/blog/programming/python-rounding-numbers) and they may not result in the same value that the tester is testing against.
- Ensure your run the cells under __SETUP__ before you run your work
- Before you submit your work, ensure you clean up your notebook. Your notebook has to run without an error in order to be tested. The easiest way to ensure is to `Kernel->Restart & Run All`
- Answers are provided in along with this notebook in eLC (look a picture named `solution_key`) for your convenience
- You will need to write a program to calculate the answers. Setting the answers to be their correct values without solving them is considered *hardcoding* and will result in zero grade for the assignment as well as a potential academic honesty violation.
- You can also test your submission using [the online code tester](https://notebook-tester.safadi-puzzler.com/)

# SETUP

In [1]:
import pandas as pd
import numpy as np

In [2]:
# DO NOT EDIT OR CHANGE THE CONTENT OF THIS CELL
scenario = 0

In [3]:
def hround(number):
    return round(number, 2 - scenario)

In [4]:
test_1=test_2=test_3=test_4=test_5=test_6=test_7=test_8=test_9=test_10=0.0
test_11=test_12=test_13=test_14=test_15=test_16=test_17=test_18=test_19=test_20=0.0

In this homework, we have data from an accounting system with the following columns:

- `tech_approval_required`: a binary variable. Orders requiring technical approval are marked with 1
- `requester_id`: the ID of the requester.
- `role`: if the requester is from the IT department, these are labeled tech.
- `product`: the type of product.
- `quantity`: quantity ordered
- `price`: price each
- `total`: total price

In [5]:
part1 = pd.read_csv('orders.csv')
part1.head()

,tech_approval_required,requester_id,role,product,quantity,price,total
0,0,E2300,tech,Desk,1,664,664
1,0,E2300,tech,Keyboard,9,649,5841
2,0,E2374,non-tech,Keyboard,1,821,821
3,1,E2374,non-tech,Desktop Computer,24,655,15720
4,0,E2327,non-tech,Desk,1,758,758

# Part 1

Focusing on the data frame `part1`

1. report the number rows
2. report the number of columns
3. what is the total number of values in the data frame?
4. select the first five rows (return a data frame)
5. select the last five rows (return a data frame)
6. select every other 100th row (return a data frame)
7. we want to double check that the total values are accurate, calculate a new column `total2` by multiplying `price` with `quantity`. show the first five rows of `total` and `total2` (return a data frame).
8. check if each value of `total` equals the corresponding value of `total2` (return a `bool`)
9. How many orders required technical approval?
10. What is the most expensive order (highest total)? return a series representing the order row from the data frame.
11. What is the average price of `Desk`. Round the number with `hround`
12. Report the requester ids that end with `0`. Return a sorted list.
13. Who requested the order with the largest quantity, return the requester id.
14. What are the distinct roles? Return a sorted list.
15. Who ordered most keyboards (in terms of total quantity). Report the requester id.

In [6]:
### TEST 1
test_1 = len(part1)
test_1

1000

In [7]:
## TEST 2
test_2 = len(part1.columns)
test_2

7

In [8]:
## TEST 3
test_3 = part1.shape[0]*part1.shape[1]
test_3

7000

In [9]:
## TEST 4
test_4 = part1.head()
test_4

,tech_approval_required,requester_id,role,product,quantity,price,total
0,0,E2300,tech,Desk,1,664,664
1,0,E2300,tech,Keyboard,9,649,5841
2,0,E2374,non-tech,Keyboard,1,821,821
3,1,E2374,non-tech,Desktop Computer,24,655,15720
4,0,E2327,non-tech,Desk,1,758,758

In [10]:
## TEST 5
test_5 = part1.tail()
test_5

,tech_approval_required,requester_id,role,product,quantity,price,total
995,1,E2364,non-tech,Laptop Computer,1,116,116
996,1,E2357,non-tech,Laptop Computer,1,1132,1132
997,0,E2330,non-tech,Keyboard,2,804,1608
998,0,E2384,non-tech,Desk,3,270,810
999,0,E2343,non-tech,Mouse,1,236,236

In [11]:
## TEST 6
test_6 = part1[::100]
test_6

,tech_approval_required,requester_id,role,product,quantity,price,total
0,0,E2300,tech,Desk,1,664,664
100,0,E2354,non-tech,Desk,3,134,402
200,0,E2321,non-tech,Cleaning,5,48,240
300,0,E2392,non-tech,Chair,2,746,1492
400,0,E2343,non-tech,Desk,1,364,364
500,0,E2396,non-tech,Cleaning,1,1036,1036
600,0,E2334,non-tech,Desk,3,222,666
700,0,E2374,non-tech,Keyboard,2,138,276
800,0,E2344,non-tech,Desk,1,49,49
900,0,E2355,non-tech,Desk,7,348,2436

In [12]:
## TEST 7
part1['total2'] = part1['price']*part1['quantity']
test_7 = part1.loc[:,'total':'total2'].head()
test_7

   total  total2
0    664     664
1   5841    5841
2    821     821
3  15720   15720
4    758     758

In [13]:
## TEST 8

ser = (part1['total'] == part1['total2'])
for tf in ser:
    if tf == True:
        continue
    else:
        print('False')
        break
test_8 = tf
test_8

True

In [14]:
## TEST 9
test_9 = len(part1.loc[part1['tech_approval_required'] == 1])
test_9

193

In [15]:
## TEST 10
part1 = part1.drop('total2',axis=1)
test_10 = part1.loc[part1['total'].idxmax()]
test_10

tech_approval_required                   1
requester_id                         E2358
role                              non-tech
product                   Desktop Computer
quantity                                21
price                                 1082
total                                22722
Name: 11, dtype: object

In [16]:
## TEST 11
test_11 = hround(part1[part1['product'] == 'Desk']['price'].mean())
test_11

622.85

In [17]:
## TEST 12
test_12 = np.unique([requester_id for requester_id in part1.requester_id if requester_id[-1] == '0']).tolist()
test_12

['E2300',
 'E2310',
 'E2330',
 'E2340',
 'E2350',
 'E2360',
 'E2370',
 'E2380',
 'E2390',
 'E2400']

In [18]:
## TEST 13
test_13 = part1.loc[part1['quantity'].idxmax()][1]
test_13

'E2329'

In [19]:
## TEST 14
test_14 = list(np.sort(np.unique(part1.loc[:,'role'])))
test_14

['non-tech', 'tech']

In [20]:
## TEST 15
keyboards = part1[part1['product'] == 'Keyboard']
keyboards = keyboards.groupby(by='requester_id').sum()

high = 0
for t in keyboards.quantity:
    if t > high:
        high = t
    else:
        continue
    test_15 = high
highest = keyboards[keyboards['quantity']== high]
test15 = highest.index.astype(str)[0]
test15

'E2341'

In [21]:
part2 = pd.read_csv('orders_corrupt.csv')
part2.head()

,tech_approval_required,requester_id,role,product,quantity,price,total
0,0,E2300,tech,Desk,1,664,664
1,0,E2300,tech,Keyboard,9,649,584l
2,0,E2374,non-tech,Keyboard,1,821,821
3,1,E2374,non-tech,Desktop Computer,24,655,15720
4,0,E2327,non-tech,Desk,1,758,758

# Part 2

Focusing on the data frame `part2`. 

The file `orders_corrupt.csv` was obtained by running OCR on a scanned image.
The OCR had issues in some entries mistaking number `1` with letter `l`.
As a result, some numerical entries in the file are corrupt.

16. What is the `dtypes` of `part2`?
17. Replace the corrupt numbers with `na`. Show the first six rows.
18. What are the `dtypes` now?
19. How many rows are corrupt?
20. Drop the corrupt rows. Show the first five rows in the resulting data frame.

In [22]:
## TEST 16
test_16 = part2.dtypes
test_16

tech_approval_required    object
requester_id              object
role                      object
product                   object
quantity                  object
price                     object
total                     object
dtype: object

In [23]:
## TEST 17
mask = (lambda x: np.nan if 'l' in x else float(x))
part2['tech_approval_required'] = part2['tech_approval_required'].apply(mask)
part2['quantity'] = part2['quantity'].apply(mask)
part2['price'] = part2['price'].apply(mask)
part2['total'] = part2['total'].apply(mask)

test_17 = part2.head(6)
test_17

,tech_approval_required,requester_id,role,product,quantity,price,total
0,0.0,E2300,tech,Desk,1.0,664.0,664.0
1,0.0,E2300,tech,Keyboard,9.0,649.0,NaN
2,0.0,E2374,non-tech,Keyboard,1.0,821.0,821.0
3,1.0,E2374,non-tech,Desktop Computer,24.0,655.0,15720.0
4,0.0,E2327,non-tech,Desk,1.0,758.0,758.0
5,0.0,E2354,non-tech,Desk,1.0,576.0,576.0

In [24]:
## TEST 18
test_18 = part2.dtypes
test_18

tech_approval_required    float64
requester_id               object
role                       object
product                    object
quantity                  float64
price                     float64
total                     float64
dtype: object

In [25]:
## TEST 19
test_19 = len(part2[(part2['total'].isnull()) | (part2['quantity'].isnull()) | (part2['price'].isnull()) | (part2['tech_approval_required'].isnull())])
test_19

7

In [26]:
## TEST 20
test_20 = part2.dropna().head()
test_20

,tech_approval_required,requester_id,role,product,quantity,price,total
0,0.0,E2300,tech,Desk,1.0,664.0,664.0
2,0.0,E2374,non-tech,Keyboard,1.0,821.0,821.0
3,1.0,E2374,non-tech,Desktop Computer,24.0,655.0,15720.0
4,0.0,E2327,non-tech,Desk,1.0,758.0,758.0
5,0.0,E2354,non-tech,Desk,1.0,576.0,576.0